@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?hyb0gy');
    src:    url('fonts/icomoon.eot?hyb0gy#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?hyb0gy') format('truetype'),
        url('fonts/icomoon.woff?hyb0gy') format('woff'),
        url('fonts/icomoon.svg?hyb0gy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-checkmark:before {
    content: "\ea10";
}

